# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Power BI temporary files
*.pbit

# OS files
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.temp